WHATSAPP_TOKEN=EAAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PHONE_NUMBER_ID=123456789012345
DESTINATARIO=51987654321
TEST_TOKEN=elige-un-token-aleatorio-largo
WHATSAPP_TEMPLATE_NAME=recordatorio_clases
WHATSAPP_TEMPLATE_LANG=es
